.main {
	position: relative;
}

.form-top-left {
	float: left;
	width: 75%;
	padding-top: 25px;
}

.form-top-right {
	float: left;
	width: 25%;
	padding-top: 25px;
	font-size: 66px;
	color: #ddd;
	line-height: 100px;
	text-align: right;
}

.login-link {
	color: #004646;
}

.date-col {
	width: 33.3%;
	float: left;
}

.labeltxt {
	margin-left: 2%;
}

.datebox {
	width: 95%;
	margin-left: 5%;
}

.profile-pic {
	width: 50%;
	margin: auto;
	height: auto;
}

.gender {
	width: 5%;
}

.login-screen {
    background-image: url(/images/typing.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    color: white;
   	overflow-y: auto;
}

.login-screen:before {
    content: "";
    background: rgba(0,0,0, 0.2);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}


.blur {
	z-index: auto; 
	position: relative; 
	line-height: 30px; 
	font-size: 16px; 
	transition: none; 
	background: transparent !important;
}
.btn-reg {
	width: 100%;
	background: teal;
    border-color: teal;
    color: #fff;
    opacity: 0.6;
}

.login-form {
	margin-top: 30%;
}

.g-signin2 {
	margin-top: 5%;
}

.abcRioButtonLightBlue {
	width: 100% !important;
}

select option {
	color: #000;
}

.form-control::placeholder {
	color: #fff;
}

.form-control {
	border: 1px solid #fff;
}

label {
	font-size: 16px;
}

.required:after { 
   content:"*" !important;
   color:#d90000;
}